<!-- footer -->
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">

	<div class="container text-center text-md-left">
		<div class="row">
			<div class="col-md-4 mx-auto">
				<!-- Content -->
				<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Trave Symfony</h5>
				<p><i class="fas fa-phone mr-3"></i> +261 32 04 034 59</p>
				<p><i class="fas fa-envelope mr-3"></i>arbandry@gmail.com</p>

			</div>
			<!-- Grid column -->

			<hr class="clearfix w-100 d-md-none">

			<!-- Grid column -->
			<div class="col-md-2 mx-auto">
				<!-- Links -->
				<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Liens utils</h5>

				<ul class="list-unstyled">
					<li>
						<a href="tel:032040459">Contact</a>
					</li>
					<li>
						<a href="#!">Madagascar</a>
					</li>
				</ul>
			</div>
		</div>
	</div><hr>

	<!-- Social buttons -->
	<ul class="list-unstyled list-inline text-center m-0 pb-2">
		<li class="list-inline-item">
			<a class="align-middle">
				<i class="fab fa-facebook-f"> </i>
			</a>
		</li>
		<li class="list-inline-item">
			<a class="align-middle">
				<i class="fab fa-twitter"> </i>
			</a>
		</li>
		<li class="list-inline-item">
			<a class="align-middle">
				<i class="fab fa-google-plus-g"> </i>
			</a>
		</li>
		<li class="list-inline-item">
			<a class="align-middle">
				<i class="fab fa-linkedin-in"> </i>
			</a>
		</li>
		<li class="list-inline-item">
			<a class="align-middle">
				<i class="fab fa-dribbble"> </i>
			</a>
		</li>
	</ul>
</footer>