@import 'fontawesome-free/css/all.css';
._message{
	padding: 2px;
    width: 100%;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    color: black;
}

#comment h5{
	padding-top: 10px;
    margin-top: 0;
    border-top: 3px #5f5b5b solid;
}
#comment .btn{
	float: right;
}

nav .nav-wrapper { 
    padding: 0 40px;
}

.commentaire.collection .collection-item.avatar .secondary-content{
	top: initial;
    right: 10px;
}

.article-card h2{
	height: 45px;
	overflow: hidden;
}

.commentaire .more-reply{
	font-size: 12px;
	cursor: pointer;
	text-align: right;
	margin-right: 30px!important;
}

ul[id*=content_reply]{
	padding: 15px 0 0 25px;
}
ul[id*=content_reply] .reply{
	padding: 8px 0;
}
.collection .collection-item ul[id*=content_reply] .reply .circle{
    width: 25px;
    height: 25px;
    left: 62px;
}

#zone-commentaire #register h1{
    font-size: 3em;
    /* margin-top: 15px; */
}

/* bootstrap4 */
#logo img {
    height: 50px;
}
 
#menu-list .nav-link{
    color: #000;
}

#menu-list .nav-link:hover{
    background: #343a409e;
    color: #fff;
}

.navbar button.navbar-toggler{
	flex-grow: 1;
}

.slick-slide {
    display:inline-block;
    margin: 0 5px;
}

.card.mb-3.slide-items {
    width: 30%;
    margin: 0 10px;
}
#cont-slidevo.row{
	display: inherit;
}
.container{
	overflow: hidden;
}
.row.border{
	padding:10px;
}
.row.border:not(#cont-slidevo) {
	margin-top: 15px
}

.btn{
	text-transform: none!important;
}

#cont-actualites .card.mb-3.col-md-5:not(last-child) {
    margin-right: 10px;
}