{# liste commentaire #}
{% include 'front/include/_comment_list.html.twig' %}

{# formulaire commentaire #}
{% if app.user %}
	{{ form_start(form_com, {'action': path('comment', {'id':  article.id }),'attr' : {'id':'comment', 'onsubmit':'return commendArticle(this);'}}) }}
	<div class="col s12 m12 l9 offset-l2">
		<h5>Votre commentaire</h5>		
		{{ form_widget(form_com.comment, {'attr':{'class':'materialize-textarea', 'placeholder':'Votre commentaire'}}) }}
		<div class="row">
			<button class="btn btn-small">Enregistrer</button>
		</div>
	</div>
	{{ form_end(form_com) }}
{% endif %}