{# templates/blog/edit.html.twig #}
{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Modifier{% endblock %}

{% block body %}
<div class="container">
	<div class="col-md-10 m-auto">
		<div class="form-group">
			<h4>Modifier l'article {{ article.getId() }}</h4>
		</div>
	</div>
	{% include 'admin/include/_form_article.html.twig' %}
</div>
{% endblock %}