{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }} {% endblock %}

{% block body %} 
<div class="container">
	<div id="list-articles" class="row home-page">
	   {% include 'blog/include/_liste_article.html.twig' %}
	</div>
</div>
{% endblock %}