{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }} {% endblock %}

{% block body %} 
<div class="container">
	<div class="row">
	   {% include 'blog/include/liste_article.html.twig' %}
	</div>
</div>
{% endblock %}